/* set the Orbitron font face */
@font-face {
  font-family: 'Orbitron';
  src: url(../fonts/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2);
}

/* Scrolling background to infinite (unendlichkeit :D ) */
.BackgroundScroll {
	height: 100vh;
  /* TODO: for DEBUGMODE the background is deactivated*/
	background: url(../img/background.png);
	-webkit-animation: backgroundScroll 50s linear infinite;
	animation: backgroundScroll 50s linear infinite;
}

/* not scrolling background */
.BackgroundScroll2 {
	height: 100vh;
	background: url(../img/background2.png);
}
/* Zusatzfunktion für BackgroundScroll -> Definiert Anfang und Ende */
@-webkit-keyframes backgroundScroll {
	from {background-position: 0 0;}
	to {background-position: 600px 800px;}
}
 /* Backup-Lösung falls Handy webkit-keyframes nicht unterstützt */
@keyframes backgroundScroll {
	from {background-position: 0 0;}
	to {background-position: 600px 800px;}
}

/* TODO: TEST IF USEFULE*/
body {
	font-family: 'Orbitron';
}

/* Bild von Titel */
svg {
	width: 100%;
	height: 100%;
	font-family: 'Orbitron';
}
/*TODO: Define a standard Btn*/
.Btn svg{

  padding-top: 10px;
}

.levelBtn {
  float: left;
  width: 20%;
  padding-right: 5px;
}
/* TODO: on Mainpage a little help icon */
.help svg{
  width: 14vw;
}

.helpgatter svg{
  width: 20vw;
}

.back svg {
  width: 13vw;
  padding-top: 2.8vh !important;
}

.back svg ellipse {
  stroke: black !important;
}

.back {
  position: absolute;
  left: 1.5vw;
  top: 1vh;
}

.gameback svg {
  width: 60px;
	padding-top: 0px !important;
}

.gameback svg ellipse {
  stroke: black !important;
}

.gameback {
  position: absolute;
  left: 1.5vw;
  top: 1vh;
}

/* all movable elements*/
.elements {
    float: left;
    margin: 0px 10px 0px 0px;
    width: 15vh;
    height: 11vw;
}
/* define the svg part of a element*/
.elements svg{
	width: 100%;
	height: 100%;
	padding: 0px;
}
/* Drop list for elements*/
.ellemetspanel {
	position: absolute;
	bottom: 1px;
	width: 100%;
	padding: 5px;
	border-top: 1px solid black;
	background-color: rgba(0, 0, 0, 0.25);
}

/* Was this for a place holder while dragging ellemets? NS*/
.elementplaceholder {
  width: 15vh;
  height: 11vw;
	border: 1px solid black;
	/*padding: 1px;*/
}

/* bestimmte Ansichten ausblenden */
.menuDiv {
  display: none;
}

.mainMenuDiv{
	display: block;
}

/* TODO: DEBUG state */
.ui-state-active {
	background-color: #00ffff;
  fill: #00ffff;
}

/**********
 * ENGINE *
 **********/

.gatter path, .gatter text{
  width: 10vh;
  height: 11vw;
}

engine {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

engine svg{
  width: 100vw;
  height: 100vh;
}

.winloseGameScreen {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
}

.levelDetail {
  font-size: 3vh;
  color: #ffcf29;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black, -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black;
}

#levelWinLost {
  font-size: 7vh;
  color: #ffcf29;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black, -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black;
}
